* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background: url("https://i.pinimg.com/originals/ea/1d/c3/ea1dc3a5754dd9297c756535c53010e6.jpg")
    no-repeat fixed;
  background-size: 100% 100vh;
}
.navbar {
  background-color: #ffffff;
  padding: 20px 0px;
}
.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  margin-top: -5px;
  left: 100%;
}
.dropdown-menu > li > a:hover::after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

/* extra code */
/* .dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: none !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: none !important;
} */
